img {
    width: 75vw;
    height: 25vh;
  }

  .flickity-page-dots {
    bottom: 0px;
  }

  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }

  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white;
  }