{{ extend './_layouts/home.html' }}
{{ block 'title' }}{{ '運動數據' }}{{ /block }}
{{ block 'head' }}
<style>
    .divBorder {
        margin-top: 10px;
    }
</style>
{{ /block }}
{{ block 'body' }}
<!-- Begin Page Content -->
<input type="hidden" name="psid" value="{{ User.id }}">
<div class="container-fluid" id='divContainer'>
    <div class="card shoadow mb-6 divBorder">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">主要肌群 訓練次數分佈</h6>
        </div>
        <div class="collapse show">
            <div class="card-body">
                <canvas id='pieComprehensive' style="width:80vw;height:70vh;"></canvas>
            </div>
        </div>
    </div>
    
</div>

<div style="display:none" id='divHidden'>
    <div class="card shoadow mb-6 divBorder">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary"><span class="spPartition"></span> 訓練次數分佈</h6>
        </div>
        <div class="collapse show">
            <div class="card-body">                
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{{ /block }}
{{ block 'script' }}
<script src="/public/vendor/chart.js/Chart.min.js"></script>
<script src="/public/viewJs/comprehensiveData.js"></script>
<!-- Page level plugins -->
{{ /block }}