{{ extend './_layouts/home.html' }}
{{ block 'title' }}{{ '還沒有器材' }}{{ /block }}
{{ block 'head' }}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<style>
</style>
{{ /block }}
{{ block 'body' }}
<div style="text-align:center;">
    <p>抱歉！該部位尚未建立可選擇紀錄的器材！</p>
    <p>若有任何建議,請通知開發者！</p>
    <p><a href="https://m.me/100000372087442">
        <img style="border-radius:100%;" src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.0-1/p160x160/59203844_2321267341228979_4969615553355317248_n.jpg?_nc_cat=111&_nc_oc=AQlwGeGC5V_SmwFkHGn5S-mwjBRKT13HmucSkpk9QCmx6tCsHDujRcVzGGZsVqFG2CjcdIis_sQ2CQrh95dk4_16&_nc_ht=scontent.ftpe7-2.fna&oh=dd5a54b7fb10cfed374be2d3a6bc0a29&oe=5D7A76D1" alt="">
    </a></p>
    <p>點擊圖片,直接與開發者溝通！</p>
</div>
{{ /block }}
{{ block 'script' }}
<script>
  $(document).ready(() => {
    
  })
</script>
<!-- Page level plugins -->
{{ /block }}