<div class="dropdown no-arrow mb-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        請選擇
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{ each Bots }}
        <a class="dropdown-item" href="#" data-bid="{{ $value.bot_id }}"
            data-bname="{{ $value.name }}">{{ $value.name }}</a>
        {{ /each }}
    </div>
    您選擇的Bot:<span style="color:red;" id='choosenBot'></span>
    <input type="hidden" name="bot_id" id="bot_id">
</div>